---
const pageTitle = "About Me";
const identity = {
  firstName: "Chaitanya",
  occupation: "Software Engineer",
};
const skills = ["HTML", "CSS", "JavaScript"];
const happy = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>{pageTitle}</h1>
    <p>My name is {identity.firstName} and I work as a {identity.occupation}.</p>
	{happy && <p>I am happy to be learning to be learning Astro!</p>}
    <p>My skills are:</p>
    <ul>
      {skills.map((skill) => <li>{skill}</li>)}
    </ul>
  </body>
</html>
